Repository Civ13/Civ14, pull requests merged in 2025-04, with the labels that each got.

#74 Playtest improvements
  .github/workflows/benchmarks.yml
  Content.Shared/CCVar/CCVars.Atmos.cs
  Content.Shared/Civ14/Composting/CompostingComponent.cs
  Resources/Audio/Ambience/Civ/battle.ogg
  Resources/Audio/Ambience/Civ/desert.ogg
  Resources/Audio/Ambience/Civ/jungle.ogg
  Resources/Audio/Ambience/Civ/rain.ogg
  Resources/Audio/Ambience/Civ/ship.ogg
  Resources/Audio/Ambience/Civ/shore.ogg
  Resources/Audio/Ambience/Civ/winter.ogg
  Resources/Audio/Ambience/Civ/woodland.ogg
  Resources/ConfigPresets/Build/development.toml
  Resources/ConfigPresets/Civ/production.toml
  Resources/ConfigPresets/WizardsDen/centipede.toml
  Resources/ConfigPresets/WizardsDen/leviathan.toml
  Resources/ConfigPresets/WizardsDen/lizard.toml
  Resources/ConfigPresets/WizardsDen/miros.toml
  Resources/ConfigPresets/WizardsDen/salamander.toml
  Resources/ConfigPresets/WizardsDen/spider.toml
  Resources/ConfigPresets/WizardsDen/vulture.toml
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
  Resources/ConfigPresets/WizardsDen/wizardsDenCoreOnly.toml
  Resources/ConfigPresets/WizardsDen/wizardsDenGateway.toml
  Resources/ConfigPresets/WizardsDen/wizardsDenLRPTide.toml
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Civ14/Entities/Objects/Materials/civ_materials.yml
  Resources/Prototypes/Civ14/Entities/Objects/Specific/cooking.yml
  Resources/Prototypes/Civ14/Entities/civ_ambience.yml
  Resources/Prototypes/Civ14/Recipes/Clothing/clothing_exported.yml
  Resources/Prototypes/Civ14/Tiles/floors.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Interface/Alerts/internals.rsi/mask0.png
  Resources/Textures/Interface/Alerts/internals.rsi/mask1.png
  Resources/Textures/Interface/Alerts/internals.rsi/mask2.png
  Resources/Textures/Interface/Alerts/internals.rsi/meta.json
  Resources/Textures/Interface/Alerts/stamina.rsi/meta.json
  Resources/Textures/Interface/Alerts/stamina.rsi/staminaciv0.png
  Resources/Textures/Interface/Alerts/stamina.rsi/staminaciv1.png
  Resources/Textures/Interface/Alerts/stamina.rsi/staminaciv2.png
  Resources/Textures/Interface/Alerts/stamina.rsi/staminaciv3.png
  Resources/Textures/Interface/Alerts/stamina.rsi/staminaciv4.png
  Resources/Textures/Interface/Alerts/stamina.rsi/staminaciv5.png
  Resources/Textures/Interface/Alerts/stamina.rsi/staminaciv6.png
  Resources/Textures/Objects/Materials/materials.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, Changes: Audio

#75 wiki pages
  Civ14-Wiki/img/arrival.png
  Civ14-Wiki/index.html
  Civ14-Wiki/wiki/guide_to_farming.md
  Civ14-Wiki/wiki/nomads.md
  Civ14-Wiki/wiki/starter_guide.md
  Resources/Textures/Civ14/Clothing/exported/belts/knife.rsi/equipped-BELT.png
Labels: Changes: Sprites, Changes: No C#

#76 Pelts, wiki updates
  Civ14-Wiki/MDwiki.js
  Civ14-Wiki/img/boulder.png
  Civ14-Wiki/img/flint_axe.png
  Civ14-Wiki/navigation.md
  Civ14-Wiki/wiki/nomads.md
  Civ14-Wiki/wiki/starter_guide.md
  Resources/Prototypes/Civ14/Entities/Mobs/predators.yml
  Resources/Prototypes/Civ14/Entities/Objects/Materials/civ_materials.yml
  Resources/Prototypes/Civ14/Recipes/Clothing/clothing_exported.yml
  Resources/Prototypes/Civ14/Recipes/Clothing/recipes_clothing_gloves.yml
  Resources/Prototypes/Civ14/Recipes/Clothing/recipes_clothing_shoes.yml
  Resources/Prototypes/Stacks/Materials/Civ14/materials.yml
  Resources/Textures/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Objects/Materials/materials.rsi/sheet-brownbearpelt_2.png
  Resources/Textures/Objects/Materials/materials.rsi/sheet-brownbearpelt_3.png
  Resources/Textures/Objects/Materials/materials.rsi/sheet-wolfpelt_2.png
  Resources/Textures/Objects/Materials/materials.rsi/sheet-wolfpelt_3.png
Labels: Changes: Sprites, Changes: No C#

#77 New clothing
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_hats.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_masks.yml
  Resources/Prototypes/Civ14/Recipes/Clothing/recipes_clothing_hats.yml
  Resources/Prototypes/Civ14/Recipes/Clothing/recipes_clothing_masks.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Guidebook/newplayer.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/gauze.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
  Resources/ServerInfo/Guidebook/Nomads/nomads.xml
  Resources/ServerInfo/Guidebook/Nomads/nomadsguide.xml
Labels: Changes: No C#

#89 Taislin patch 1
  Resources/Maps/civ/nomads_classic.yml
Labels: Changes: No C#, Changes: Map

#96 Fletcher's Workstation
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Civ14/Entities/Mobs/NPC/natives.yml
  Resources/Prototypes/Civ14/Entities/Structures/Craft/fletchers.yml
  Resources/Prototypes/Civ14/Recipes/Construction/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/improvised_arrow.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/improvised_bow.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Textures/Civ14/Objects/structures.rsi/fletchersbench.png
  Resources/Textures/Civ14/Objects/structures.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#104 wiki updates
  Resources/ServerInfo/Guidebook/Nomads/nomadsguide.xml
  Wiki/src/guides/starter_guide.md
Labels: Changes: No C#, Changes: Map

#106 Small change starter_guide.md
  Wiki/src/guides/starter_guide.md
Labels: Changes: No C#

#107 Metallurgy
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue_report.md
  .github/ISSUE_TEMPLATE/toolshed-feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/config.yml
  Content.Client/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Shared/Power/EntitySystems/SharedPowerReceiverSystem.cs
  Resources/Locale/en-US/construction/construction-categories.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_hats.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_suit.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_uniform.yml
  Resources/Prototypes/Civ14/Entities/Mining/bronze.yml
  Resources/Prototypes/Civ14/Entities/Mining/tin.yml
  Resources/Prototypes/Civ14/Entities/Objects/Materials/materials_metals.yml
  Resources/Prototypes/Civ14/Entities/Structures/Craft/anvil.yml
  Resources/Prototypes/Civ14/Entities/Structures/Craft/fletchers.yml
  Resources/Prototypes/Civ14/Entities/Structures/Craft/metallurgy.yml
  Resources/Prototypes/Civ14/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/Civ14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Civ14/Recipes/Clothing/recipes_clothing_hats.yml
  Resources/Prototypes/Civ14/Recipes/Clothing/recipes_clothing_suit.yml
  Resources/Prototypes/Civ14/Recipes/Clothing/recipes_clothing_uniform.yml
  Resources/Prototypes/Civ14/Recipes/Construction/metallurgy.yml
  Resources/Prototypes/Civ14/Recipes/Construction/tools.yml
  Resources/Prototypes/Entities/Effects/mobspawn.yml
  Resources/Prototypes/Entities/Effects/wallspawn.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomaly_injections.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/Structures/Walls/meteor.yml
  Resources/Prototypes/Guidebook/nomads.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
  Resources/Prototypes/Reagents/Materials/ores.yml
  Resources/Prototypes/SoundCollections/destruction.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/Stacks/Materials/ore.yml
  Resources/Prototypes/ore.yml
  Resources/ServerInfo/Guidebook/Nomads/metallurgy.xml
  Resources/Textures/Objects/Materials/ingots.rsi/sheet-bronze.png
  Resources/Textures/Objects/Materials/ingots.rsi/sheet-bronze_2.png
  Resources/Textures/Objects/Materials/ingots.rsi/sheet-bronze_3.png
  Resources/Textures/Objects/Materials/ingots.rsi/sheet-iron.png
  Resources/Textures/Objects/Materials/ingots.rsi/sheet-iron_2.png
  Resources/Textures/Objects/Materials/ingots.rsi/sheet-iron_3.png
  Wiki/src/guides/guide_to_metallurgy.md
Labels: Changes: Sprites

#110 fixes sprite angle when fired/thrown
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
Labels: Changes: No C#

#109 Fixes campfire fuel
  Content.Server/Civ14/Kitchen/GrillFuelBurnSystem.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Shared/Civ14/Kitchen/GrillFuelBurnComponent.cs
  Resources/Prototypes/Civ14/Entities/Objects/Specific/cooking.yml
  Resources/Prototypes/Civ14/Entities/Structures/warmth.yml
  Resources/Textures/Civ14/Objects/structures.rsi/meta.json
  Resources/Textures/Civ14/Objects/structures.rsi/s_brazier1.png
  Resources/Textures/Civ14/Objects/structures.rsi/s_brazier2.png
Labels: Changes: Sprites, Do Not Merge

#114 Playtest fixes
  Content.Server/Civ14/Kitchen/GrillFuelBurnSystem.cs
  Content.Shared/CCVar/CCVars.Admin.Rules.cs
  Resources/Maps/civ/nomads_classic.yml
  Resources/Prototypes/Civ14/Entities/Structures/Craft/anvil.yml
  Resources/Prototypes/Civ14/Entities/Structures/Craft/fletchers.yml
  Resources/Prototypes/Civ14/Entities/Structures/Craft/metallurgy.yml
  Resources/Prototypes/Civ14/Recipes/Construction/metallurgy.yml
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/Stacks/Materials/Civ14/materials.yml
  Resources/Textures/Civ14/Objects/structures.rsi/s_brazier2.png
  Resources/Textures/Tiles/Planet/water_deep.rsi/full.png
  Resources/Textures/Tiles/Planet/water_deep.rsi/meta.json
  Resources/Textures/Tiles/Planet/water_deep.rsi/water0.png
  Resources/Textures/Tiles/Planet/water_deep.rsi/water1.png
  Resources/Textures/Tiles/Planet/water_deep.rsi/water2.png
  Resources/Textures/Tiles/Planet/water_deep.rsi/water3.png
  Resources/Textures/Tiles/Planet/water_deep.rsi/water4.png
  Resources/Textures/Tiles/Planet/water_deep.rsi/water5.png
  Resources/Textures/Tiles/Planet/water_deep.rsi/water6.png
  Resources/Textures/Tiles/Planet/water_deep.rsi/water7.png
  mapGeneration.py
Labels: Changes: Sprites, Changes: Map

#120 Sync from master
  .github/workflows/upload-client.yml
  Resources/Changelog/Changelog.yml
Labels: Changes: No C#

#129 Rebalances + fixes of weapons
  Resources/Prototypes/Civ14/Entities/Objects/Weapons/spears.yml
  Resources/Prototypes/Civ14/Entities/Objects/Weapons/stone_age.yml
  Resources/Prototypes/Civ14/Entities/Objects/Weapons/swords.yml
Labels: Changes: No C#

#131 Update entities_clothing_suit.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_suit.yml
Labels: Changes: No C#

#133 Update predators.yml
  Resources/Prototypes/Civ14/Entities/Mobs/predators.yml
Labels: Changes: No C#

#137 Clothes weights
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
Labels: Changes: No C#

#140 Update entities_clothing_suit.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_suit.yml
Labels: Changes: No C#

#150 Weight stuff
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/Entities/Clothing/Eyes/base_clothingeyes.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Masks/base_clothingmask.yml
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: No C#

#151 dough, compostables
  .github/workflows/upload-client.yml
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_hats.yml
  Resources/Prototypes/Civ14/Entities/Objects/Materials/civ_materials.yml
  Resources/Prototypes/Civ14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Civ14/Entities/Structures/Furniture/compostbin.yml
  Resources/Prototypes/Civ14/Entities/Structures/Walls/fences.yml
  Resources/Prototypes/Civ14/Entities/Structures/warmth.yml
  Resources/Prototypes/Civ14/Recipes/Construction/food.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Hydroponics/potato.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/potato.rsi/roastpotato.png
Labels: Changes: Sprites

#154 Playlist fixes
  .github/workflows/labeler-untriaged.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/upload-client.yml
  Resources/Prototypes/Civ14/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Civ14/Entities/Objects/Specific/Farming/seeds.yml
  Resources/Prototypes/Civ14/Entities/Objects/healing.yml
  Resources/Prototypes/Civ14/Entities/Structures/warmth.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: Changes: Sprites, Changes: No C#

#159 Plant and cold fixes
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Weather/WeatherSystem.cs
  Content.Shared/Weather/WeatherNomadsComponent.cs
  README.md
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/botany/components/plant-holder-component.ftl
  Resources/Prototypes/Civ14/Recipes/Clothing/recipes_clothing_uniform.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Scripts/bat/!README.txt
  Scripts/bat/buildAllDebug.bat
  Scripts/bat/buildAllRelease.bat
  Scripts/bat/buildAllTools.bat
  Scripts/bat/runQuickAll.bat
  Scripts/bat/runQuickClient.bat
  Scripts/bat/runQuickServer.bat
  Scripts/bat/runTests.bat
  Scripts/bat/runTestsIntegration.bat
  Scripts/bat/runTestsYAML.bat
  Scripts/bat/runclient-Tools.bat
  Scripts/bat/runclient.bat
  Scripts/bat/runserver-Tools.bat
  Scripts/bat/runserver.bat
  Scripts/sh/!README.txt
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/buildAllTools.sh
  Scripts/sh/runQuickAll.sh
  Scripts/sh/runQuickClient.sh
  Scripts/sh/runQuickServer.sh
  Scripts/sh/runTests.sh
  Scripts/sh/runTestsIntegration.sh
  Scripts/sh/runTestsYAML.sh
  Scripts/sh/runclient-Tools.sh
  Scripts/sh/runclient.sh
  Scripts/sh/runserver-Tools.sh
  Scripts/sh/runserver.sh
  Tools/CivMigrations/README.md
  Tools/CivMigrations/migrations.json
Labels: Untriaged

#156 Longquan fix, implements sleepzone (WIP)
  .github/workflows/rsi-diff.yml
  Content.Shared/Bed/Sleep/SleepingSystem.cs
  Content.Shared/Civ14/SleepZone/SleepZoneComponent.cs
  Content.Shared/Civ14/SleepZone/SleepZoneSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Civ14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Textures/Civ14/Weapons/longquan.rsi/inhand-left.png
Labels: help wanted, Changes: Sprites, Changes: No C#, Do Not Merge

#180 Several playtest fixes
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Content.Shared/Nutrition/Components/ThirstComponent.cs
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_uniform.yml
  Resources/Prototypes/Civ14/Entities/Flora/wild_crops.yml
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Masks/base_clothingmask.yml
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Tiles/water.yml
Labels: Changes: No C#, Do Not Merge

#181 Resolving several issues
  Content.Shared/Bed/Sleep/SleepingSystem.cs
  Resources/Prototypes/Civ14/Entities/Mobs/predators.yml
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Textures/Civ14/Mobs/animal_64.rsi/brownbear.png
Labels: Changes: Sprites, Do Not Merge
