Repository Civ13/Civ14, pull requests merged in 2025-03, with the labels that each got.

#38 Feat/mining stones
  Resources/Prototypes/Civ14/ores.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
Labels: Changes: No C#

#39 Fix/ci cd
  Content.IntegrationTests/Tests/Construction/ConstructionActionValid.cs
  Content.IntegrationTests/Tests/Construction/ConstructionPrototypeTest.cs
  Content.IntegrationTests/Tests/Construction/Interaction/ComputerContruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/CraftingTests.cs
  Content.IntegrationTests/Tests/Construction/Interaction/GrilleWindowConstruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/MachineConstruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/PanelScrewing.cs
  Content.IntegrationTests/Tests/Construction/Interaction/PlaceableDeconstruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/WallConstruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/WindowConstruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/WindowRepair.cs
  Content.IntegrationTests/Tests/DoAfter/DoAfterCancellationTests.cs
Labels: Changes: No C#, Changes: Map

#44 Adds tables and crates
  .gitignore
  Resources/Prototypes/Civ14/Entities/Objects/Storage/crates.yml
  Resources/Prototypes/Civ14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Civ14/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/Civ14/Recipes/Furniture/tables.yml
  Resources/Prototypes/Civ14/Recipes/Storage/crates.yml
  Resources/Textures/Civ14/Objects/Storage/wood_crate.rsi/base.png
  Resources/Textures/Civ14/Objects/Storage/wood_crate.rsi/closed.png
  Resources/Textures/Civ14/Objects/Storage/wood_crate.rsi/icon.png
  Resources/Textures/Civ14/Objects/Storage/wood_crate.rsi/meta.json
  Resources/Textures/Civ14/Objects/Storage/wood_crate.rsi/open.png
  Resources/Textures/Civ14/Objects/Storage/wood_crate.rsi/sparking.png
  Resources/Textures/Civ14/Objects/Storage/wood_crate.rsi/welded.png
  Resources/Textures/Civ14/Structures/old_table4.rsi/full.png
  Resources/Textures/Civ14/Structures/old_table4.rsi/meta.json
  Resources/Textures/Civ14/Structures/old_table4.rsi/state_0.png
  Resources/Textures/Civ14/Structures/old_table4.rsi/state_1.png
  Resources/Textures/Civ14/Structures/old_table4.rsi/state_2.png
  Resources/Textures/Civ14/Structures/old_table4.rsi/state_3.png
  Resources/Textures/Civ14/Structures/old_table4.rsi/state_4.png
  Resources/Textures/Civ14/Structures/old_table4.rsi/state_5.png
  Resources/Textures/Civ14/Structures/old_table4.rsi/state_6.png
  Resources/Textures/Civ14/Structures/old_table4.rsi/state_7.png
Labels: Changes: Sprites, Changes: No C#

#47 Feat/python map generation
  RUN_THIS.py
  Resources/Prototypes/Maps/civ/nomads.yml
  mapDeserializer.py
  mapGeneration.py
  runserver.bat
Labels: Changes: No C#, Changes: Map

#56 Update flora.yml
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: Changes: No C#

#55 Feat/spawn players map gen
  Resources/Prototypes/Civ14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  mapGeneration.py
Labels: Changes: No C#

#57 feat: wild crops + wild crops spawns
  Resources/Prototypes/Civ14/Entities/Flora/wild_crops.yml
  mapGeneration.py
Labels: Changes: No C#
