Repository Civ13/Civ14, pull requests merged in 2025-05, with the labels that each got.

#187 TDM update 1
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Client/StatusIcon/StatusIconSystem.cs
  Content.Client/UserInterface/Systems/DamageOverlays/DamageOverlayUiController.cs
  Content.Server/Atmos/Rotting/RottingSystem.cs
  Content.Server/GameTicking/GameTicker.GameRule.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/Rules/CaptureAreaSystem.cs
  Content.Server/GameTicking/Rules/Components/TeamDeathMatchRuleComponent.cs
  Content.Server/GameTicking/Rules/RespawnRuleSystem.cs
  Content.Server/GameTicking/Rules/TeamDeathMatchRuleSystem.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Resources/Locale/en-US/game-ticking/game-rules/rules.ftl
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Locale/en-US/late-join/late-join-gui.ftl
  Resources/Maps/civ/tdm/camp.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_hats.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_suit.yml
  Resources/Prototypes/Civ14/Entities/Objects/Storage/leather.yml
  Resources/Prototypes/Civ14/Entities/Objects/Weapons/spears.yml
  Resources/Prototypes/Civ14/Entities/Structures/Walls/barricades.yml
  Resources/Prototypes/Civ14/Recipes/Construction/barricades.yml
  Resources/Prototypes/Civ14/Recipes/Walls/walls.yml
  Resources/Prototypes/Civ14/StatusIcon/faction.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Audio, Do Not Merge

#190 TDM update 2
  Content.Server/GameTicking/Rules/CaptureAreaSystem.cs
  Content.Server/GameTicking/Rules/Components/CaptureAreaComponent.cs
  Content.Server/_Stalker/Stamina/StaminaActiveSystem.cs
  Content.Shared/CombatMode/DisarmedEvent.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnHitComponent.cs
  Content.Shared/Damage/Events/StaminaDamageOnHitAttemptEvent.cs
  Content.Shared/Damage/Events/TakeStaminaDamageEvent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Ensnaring/SharedEnsnareableSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_Shitcode/Stunnable/OvertimeStaminaDamageComponent.cs
  Content.Shared/_Shitcode/Stunnable/StamcritResistComponent.cs
  Content.Shared/_Shitcode/Weapons/DodgeWideswing/DodgeWideswingComponent.cs
  Content.Shared/_Shitcode/Weapons/DodgeWideswing/DodgeWideswingSystem.cs
  Content.Shared/_Stalker/Stamina/StaminaActiveComponent.cs
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Locale/en-US/damage/stamina.ftl
  Resources/Maps/civ/tdm/camp.yml
  Resources/Prototypes/Civ14/Entities/Markers/capturable_areas.yml
  Resources/Prototypes/Civ14/Entities/Objects/Storage/filled_crates.yml
  Resources/Prototypes/Civ14/Entities/Objects/Weapons/swords.yml
  Resources/Prototypes/Civ14/Entities/Objects/handheld_flags.yml
  Resources/Prototypes/Civ14/Entities/Structures/Walls/barricades.yml
  Resources/Prototypes/Civ14/Entities/Structures/flags.yml
  Resources/Prototypes/Civ14/Entities/Structures/wall_flags.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/english.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/french.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: Map

#208 Tdm update 4
  Resources/ConfigPresets/Build/development.toml
  Resources/Prototypes/Civ14/Entities/Clothing/webbings.yml
  Resources/Prototypes/Civ14/Entities/Objects/Guns/entities_mg.yml
  Resources/Prototypes/Maps/civ/camp_ww2.yml
Labels: Changes: Sprites, Changes: No C#, Changes: Map, Changes: Audio, Untriaged

#209 Implements Discord OOC Relay
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Content.Server.csproj
  Content.Server/Discord/DiscordLink/DiscordChatILink.cs
  Content.Server/Discord/DiscordLink/DiscordLink.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/MoMMI/IMoMMILink.cs
  Content.Server/MoMMI/MoMMILink.cs
  Content.Shared/CCVar/CCCVars.Chat.Admin.cs
  Content.Shared/CCVar/CCVars.Chat.Ooc.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Content.Shared/CCVar/CCVars.Status.cs
  Content.Shared/Chat/ChatChannel.cs
  Directory.Packages.props
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Untriaged

#212 Updated Opushka (again)
  Resources/Maps/civ/tdm/opushka.yml
  Resources/Prototypes/Civ14/Entities/Markers/grace_wall.yml
Labels: Changes: No C#, Changes: Map

#216 Ww2 tweaks
  Resources/Maps/civ/tdm/opushka.yml
  Resources/Prototypes/Civ14/Entities/Clothing/satchels.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/german.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/soviet.yml
  Resources/keybinds.yml
Labels: Changes: No C#, Changes: Map, Untriaged

#218 Better names for biome specific tiles
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/planet.yml
Labels: Changes: No C#

#219 Tdm update 8
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Server/GameTicking/Rules/Components/TeamDeathMatchRuleComponent.cs
  Content.Server/GameTicking/Rules/TeamDeathMatchRuleSystem.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Maps/civ/tdm/camp.yml
  Resources/Maps/civ/tdm/camp_ww2.yml
  Resources/Maps/civ/tdm/opushka.yml
  Resources/Prototypes/Civ14/Entities/Objects/Explosives/grenades.yml
  Resources/Prototypes/Civ14/Entities/Objects/Explosives/mines.yml
  Resources/Prototypes/Civ14/Entities/Objects/Guns/Ammo/entities_bullets.yml
  Resources/Prototypes/Civ14/Entities/Objects/Guns/Ammo/entities_calibers.yml
  Resources/Prototypes/Civ14/Entities/Objects/Guns/Ammo/entities_magazines.yml
  Resources/Prototypes/Civ14/Entities/Objects/Guns/Ammo/magazine_tags.yml
  Resources/Prototypes/Civ14/Entities/Objects/Guns/entities_mg.yml
  Resources/Prototypes/Civ14/Entities/Objects/Guns/entities_smg.yml
  Resources/Prototypes/Civ14/Entities/Objects/Materials/civ_materials.yml
  Resources/Prototypes/Civ14/Entities/Objects/Storage/crates.yml
  Resources/Prototypes/Civ14/Entities/Objects/Storage/filled_crates.yml
  Resources/Prototypes/Civ14/Entities/Structures/Craft/shields.yml
  Resources/Prototypes/Civ14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Objects/Misc/land_mine.yml
  Resources/Prototypes/Maps/civ/camp.yml
  Resources/Prototypes/Maps/civ/camp_ww2.yml
  Resources/Prototypes/Maps/civ/opushka.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Civ14/Objects/Grenades/rdg2.rsi/base.png
  Resources/Textures/Civ14/Objects/Grenades/rdg2.rsi/icon.png
  Resources/Textures/Civ14/Objects/Grenades/rdg2.rsi/meta.json
  Resources/Textures/Civ14/Objects/Grenades/rdg2.rsi/primed.png
  Resources/Textures/Civ14/Objects/Grenades/smoke_grenade.rsi/base.png
  Resources/Textures/Civ14/Objects/Grenades/smoke_grenade.rsi/icon.png
  Resources/Textures/Civ14/Objects/Grenades/smoke_grenade.rsi/meta.json
  Resources/Textures/Civ14/Objects/Grenades/smoke_grenade.rsi/primed.png
  Resources/Textures/Civ14/Structures/Walls/concrete.rsi/concrete_wall0.png
  Resources/Textures/Civ14/Structures/Walls/concrete.rsi/concrete_wall1.png
  Resources/Textures/Civ14/Structures/Walls/concrete.rsi/concrete_wall2.png
  Resources/Textures/Civ14/Structures/Walls/concrete.rsi/concrete_wall3.png
  Resources/Textures/Civ14/Structures/Walls/concrete.rsi/concrete_wall4.png
  Resources/Textures/Civ14/Structures/Walls/concrete.rsi/concrete_wall5.png
  Resources/Textures/Civ14/Structures/Walls/concrete.rsi/concrete_wall6.png
  Resources/Textures/Civ14/Structures/Walls/concrete.rsi/concrete_wall7.png
  Resources/Textures/Civ14/Structures/Walls/concrete.rsi/full.png
  Resources/Textures/Civ14/Structures/Walls/concrete.rsi/meta.json
  Resources/Textures/Civ14/Structures/Walls/old_brick.rsi/full.png
  Resources/Textures/Civ14/Structures/Walls/old_brick.rsi/meta.json
  Resources/Textures/Civ14/Structures/Walls/old_brick.rsi/new_brick0.png
  Resources/Textures/Civ14/Structures/Walls/old_brick.rsi/new_brick1.png
  Resources/Textures/Civ14/Structures/Walls/old_brick.rsi/new_brick2.png
  Resources/Textures/Civ14/Structures/Walls/old_brick.rsi/new_brick3.png
  Resources/Textures/Civ14/Structures/Walls/old_brick.rsi/new_brick4.png
  Resources/Textures/Civ14/Structures/Walls/old_brick.rsi/new_brick5.png
  Resources/Textures/Civ14/Structures/Walls/old_brick.rsi/new_brick6.png
  Resources/Textures/Civ14/Structures/Walls/old_brick.rsi/new_brick7.png
Labels: Changes: Sprites, Changes: Map, Untriaged

#220 Cold war
  Content.Client/Overlays/ShowFactionIconsSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Overlays/ShowFactionIconsComponent.cs
  Resources/Locale/en-US/Civ14/jobs-descriptions.ftl
  Resources/Locale/en-US/Civ14/jobs.ftl
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Prototypes/Civ14/Entities/Markers/grace_wall.yml
  Resources/Prototypes/Civ14/Entities/Markers/jobs.yml
  Resources/Prototypes/Civ14/StatusIcon/faction.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/sovietCW.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/usa.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/ai_factions.yml
Labels: Untriaged

#222 Cold war (#220)
  Content.Client/Overlays/ShowFactionIconsSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Overlays/ShowFactionIconsComponent.cs
  Resources/Locale/en-US/Civ14/jobs-descriptions.ftl
  Resources/Locale/en-US/Civ14/jobs.ftl
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Prototypes/Civ14/Entities/Markers/grace_wall.yml
  Resources/Prototypes/Civ14/Entities/Markers/jobs.yml
  Resources/Prototypes/Civ14/StatusIcon/faction.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/sovietCW.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/usa.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/ai_factions.yml
Labels: Untriaged

#229 QOL patch 1
  Content.Client/Overlays/ShowFactionIconsSystem.cs
  Content.Server/GameTicking/GameTicker.GameRule.cs
  Content.Server/GameTicking/Rules/Components/RandomWeatherRuleComponent.cs
  Content.Server/GameTicking/Rules/RandomWeatherRuleSystem.cs
  Content.Server/GameTicking/Rules/TeamDeathMatchRuleSystem.cs
  Content.Server/Maps/GameMapPrototype.cs
  Content.Server/Overlays/ShowFactionIconsSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/Civ14/CivResearch/CivResearchComponent.cs
  Content.Shared/Civ14/CivTDMFactions/CivTDMFactionsComponent.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/NPC/Systems/NpcFactionSystem.cs
  Content.Shared/Overlays/ShowFactionIconsComponent.cs
  Content.Shared/Overlays/ShowFactionIconsSystem.cs
  Content.Shared/_RMC14/Mortar/MortarComponent.cs
  LICENSE.TXT
  Resources/Maps/civ/tdm/camp_ww2.yml
  Resources/Maps/civ/tdm/hotel.yml
  Resources/Maps/civ/tdm/opushka.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_accessories.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_shoes.yml
  Resources/Prototypes/Civ14/Entities/Objects/Explosives/Mortars/mortar_shells.yml
  Resources/Prototypes/Civ14/Entities/Objects/Explosives/Mortars/mortars.yml
  Resources/Prototypes/Civ14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Civ14/StatusIcon/faction.yml
  Resources/Prototypes/Civ14/StatusIcon/job.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/english.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/french.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/german.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/soviet.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/sovietCW.yml
  Resources/Prototypes/Roles/Jobs/Civ14/TDM/usa.yml
  Resources/Textures/Civ14/Objects/medals.rsi/meta.json
  Resources/Textures/Civ14/Objects/medals.rsi/nomads_bronze.png
  Resources/Textures/Civ14/Objects/medals.rsi/nomads_gold.png
  Resources/Textures/Civ14/Objects/medals.rsi/nomads_silver.png
Labels: Changes: Sprites, Changes: Map, Not Ready - Do Not Merge

#232 QOL patch 2
  Content.Client/_RMC14/Marines/Roles/Ranks/RankSystem.cs
  Content.Server/_RMC14/Marines/Roles/Ranks/RankSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Content.Shared/_RMC14/Marines/Roles/Ranks/RankComponent.cs
  Content.Shared/_RMC14/Marines/Roles/Ranks/RankPrototype.cs
  Content.Shared/_RMC14/Marines/Roles/Ranks/SharedRankSystem.cs
  Resources/Locale/en-US/_RMC/ranks.ftl
  Resources/Maps/Test/dev_map.yml
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Civ14/Entities/Markers/capturable_areas.yml
  Resources/Prototypes/Civ14/Entities/Structures/Walls/barbedwire.yml
  Resources/Prototypes/Civ14/Entities/Structures/Walls/barricades.yml
  Resources/Prototypes/Civ14/Roles/Jobs/Ranks/enlisted.yml
  Resources/Prototypes/Civ14/Roles/Jobs/Ranks/officers.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/english.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/french.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/german.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/playtimetrackers.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/soviet.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/sovietCW.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/usa.yml
  Resources/Prototypes/Civ14/Roles/Jobs/departments.yml
  Resources/Prototypes/Civ14/Roles/Jobs/nomad.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/techboard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/experimental.yml
Labels: Changes: No C#, Changes: Map, Untriaged

#235 Qol patch 3
  Content.Server/Anomaly/Components/AnomalyGeneratorComponent.cs
  Content.Server/Research/Components/ResearchConsoleComponent.cs
  Content.Shared/Cargo/Components/CargoOrderConsoleComponent.cs
  Content.Shared/CriminalRecords/Components/CriminalRecordsConsoleComponent.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Robotics/Components/RoboticsConsoleComponent.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Content.Shared/_RMC14/Roles/JobGroupComponent.cs
  Content.Shared/_RMC14/Roles/TotalJobsTimeRequirement.cs
  Resources/Locale/en-US/Civ14/jobgroup.ftl
  Resources/Maps/civ/tdm/hotel.yml
  Resources/Maps/civ/tdm/opushka.yml
  Resources/Prototypes/Civ14/Entities/Structures/Walls/barricades.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/german.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/soviet.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/sovietCW.yml
  Resources/Prototypes/Civ14/Roles/Jobs/TDM/usa.yml
  Resources/Prototypes/Civ14/Roles/Jobs/jobgroups.yml
  Resources/Prototypes/Civ14/Tiles/floors.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: Map, Untriaged

#234 Differing names for some tiles
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Civ14/Tiles/floors.yml
Labels: Changes: No C#, Untriaged
