Repository Civ13/Civ14, pull requests merged in 2025-06, with the labels that each got.

#238 Adds looking in the distance
  Content.Client/Civ14/LookZoom/LookZoomComponent.cs
  Content.Client/Civ14/LookZoom/LookZoomSystem.cs
  Content.Client/Content.Client.csproj
  Content.Client/Input/ContentContexts.cs
  Content.Client/Movement/Systems/EyeCursorOffsetSystem.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Server/Civ14/LookZoom/LookZoomComponent.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
  Resources/Prototypes/Civ14/Entities/Objects/Guns/base.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/keybinds.yml
Labels: Changes: UI, Untriaged

#240 Nomads update 2
  Content.Client/Commands/AcceptFactionInviteCommand.cs
  Content.Client/UserInterface/Systems/Faction/FactionUIController.cs
  Content.Server/NPC/NPCBlackboard.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_armor.yml
  Resources/Prototypes/Civ14/Entities/Clothing/entities_clothing_suit.yml
  Resources/Prototypes/Civ14/Entities/Mobs/animals.yml
  Resources/Prototypes/Civ14/Entities/Mobs/predators.yml
  Resources/Prototypes/Civ14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Civ14/Entities/Structures/Craft/anvil.yml
  Resources/Prototypes/Civ14/Entities/Structures/Craft/armor.yml
  Resources/Prototypes/Civ14/Recipes/Clothing/recipes_clothing_suit.yml
  Resources/Prototypes/Civ14/Recipes/Construction/metallurgy.yml
  Resources/Prototypes/Civ14/Recipes/Construction/tools.yml
  Resources/Prototypes/NPCs/Civ13/faunaPredator.yml
  Resources/Prototypes/NPCs/Civ13/faunaPrey.yml
  Resources/Textures/Civ14/Objects/StoneAge/stone_shovel.rsi/icon.png
  Resources/Textures/Civ14/Objects/StoneAge/stone_shovel.rsi/inhand-left.png
  Resources/Textures/Civ14/Objects/StoneAge/stone_shovel.rsi/inhand-right.png
  Resources/Textures/Civ14/Objects/StoneAge/stone_shovel.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Audio

#243 Brewing Basics
  Content.Server/Civ14/Composting/CompostingSystem.cs
  Content.Shared/Civ14/Composting/CompostingComponent.cs
  Resources/Locale/en-US/chemistry/components/mixing-component.ftl
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Maps/civ/nomads_classic.yml
  Resources/Prototypes/Chemistry/mixing_types.yml
  Resources/Prototypes/Civ14/Entities/Structures/Machines/brewing.yml
  Resources/Prototypes/Civ14/Recipes/Chemical/brewing.yml
  Resources/Prototypes/Civ14/Recipes/Chemical/reagents.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/tags.yml
Labels: Changes: No C#, Changes: Map, Untriaged
